<nav class="navigation-header">
  <ul>
    <li>
      <a href="/">Order gift</a>
    </li>
    <li>
      <a href="/admin-home">Admin</a>
    </li>
    <li>
      <a href="/logout">Logout</a>
    </li>
  </ul>
</nav>