<%- include('shared/header.ejs') -%>
<%- include('shared/navigation.ejs') -%>

<div class="container">
    <h2>Your account has been created!</h2>
     <p>Username - <b>admin</b></p>
     <p>Password - <b>admin</b></p>
</div>

<%- include('shared/footer.ejs') -%>
